.header-top {
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.header-container {
    display: flex;
    align-items: center;
    padding: 0;
}

.logo {
    margin-right: 10px;
}

.logo-c {
    padding-left: 150px;
}